<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Artwork</title>
</head>
<body>
  <h1>Delete Artwork</h1>

  <div>
    <p th:text="'Artwork with ID ' + ${deletedId} + ' was deleted.'">Deleted</p>
  </div>

  <div>
    <form th:action="@{/artworks}" method="get">
      <button type="submit" name="btn_new_artwork">New artwork</button>
    </form>
  </div>
  <div>
    <form th:action="@{/artworks}" method="get">
      <button type="submit" name="btn_all_artworks">All artworks</button>
    </form>
  </div>
</body>
</html>